
<html>
    <head>
        {% block title %}<title>Partida de poker</title>{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block content %}
        <h1>
            {% if game.winner %}
                Ha ganado {{game.winner}}
            {% else %}
            Hola 
            {% for player in game.player_set.all %}
                {{ player.name }} 
            {% endfor %}
            {% endif %}
        </h1>

        <div class="row">
            <div class="col-md-12">
            {% for player in game.player_set.all %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ player.name }}</h5>
                    <form action="/board/cambios/{{game.id}}/" method="post">
                    {% for card in player.card_set.all %}
                        {% if not player.user and not game.fase == game.FINALIZADA %}
                            <img width="37" height="50" lass="img-fluid" src="http://philvong.co.uk/images/Reverse%20Card/Reverse%20Side.jpg">
                        {% else %} 
                          <input type="checkbox" name="selectedCards" class="form-check-input" value="{{card.id}}"/><span class="badge badge-secondary">{{card}}</span><br>
                        {% endif %} 
                    {% endfor %}
                    
                    {% csrf_token %}
                    {% if game.fase == game.CAMBIO %}
                        {% if player.user %}
                            <input type="submit" value="Cambiar"/>
                        {% endif %}
                    {% endif %}
                    </form>
                </div>
                </div>
            {% endfor%}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if game.fase == game.COMPROBACION %}
                <a href="{% url 'board:play' gameId=game.id %}">JUGAR</a>
                {% endif %}
            </div>
        </div>
        
        
        {% endblock %}
    </body>
</html>


